/*FONTS*/

/*Sans*/
@font-face {
  font-family: "IndivisaTextSans";
  src: url("fonts/IndivisaTextSans-Black.otf");
  font-weight: 900;
}
@font-face {
  font-family: "IndivisaTextSans";
  src: url("fonts/IndivisaTextSans-BlackItalic.otf");
  font-weight: 900;
  font-style: italic;
}
@font-face {
  font-family: "IndivisaTextSans-SC";
  src: url("fonts/IndivisaTextSans-BoldSc.otf");
  font-variant: small-caps;
  font-weight: 900;
}
@font-face {
  font-family: "IndivisaTextSans";
  src: url("fonts/IndivisaTextSans-Bold.otf");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "IndivisaTextSans";
  src: url("fonts/IndivisaTextSans-BoldItalic.otf");
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: "IndivisaTextSans-SC";
  src: url("fonts/IndivisaTextSans-BoldSc.otf");
  font-variant: small-caps;
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "IndivisaTextSans";
  src: url("fonts/IndivisaTextSans-Light.otf");
  font-weight: 300;
}

@font-face {
  font-family: "IndivisaTextSans";
  src: url("fonts/IndivisaTextSans-LightItalic.otf");
  font-weight: 300;
  font-style: italic;
}
@font-face {
  font-family: "IndivisaTextSans";
  src: url("fonts/IndivisaTextSans-LightSc.otf");
  font-variant: small-caps;
}
@font-face {
  font-family: "IndivisaTextSans";
  src: url("fonts/IndivisaTextSans-Regular.otf");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "IndivisaTextSans";
  src: url("fonts/IndivisaTextSans-RegularItalic.otf");
  font-weight: 500;
  font-style: italic;
}
@font-face {
  font-family: "IndivisaTextSans-SC";
  src: url("fonts/IndivisaTextSans-RegularSc.otf");
  font-weight: 500;
  font-variant: small-caps;
}

/*Serif*/
@font-face {
  font-family: "IndivisaTextSerif";
  src: url("fonts/IndivisaTextSerif-Black.otf");
  font-weight: 900;
}
@font-face {
  font-family: "IndivisaTextSerif";
  src: url("fonts/IndivisaTextSerif-BlackItalic.otf");
  font-weight: 900;
  font-style: italic;
}
@font-face {
  font-family: "IndivisaTextSerif-SC";
  src: url("fonts/IndivisaTextSerif-BlackSc.otf");
  font-variant: small-caps;
}
@font-face {
  font-family: "IndivisaTextSerif";
  src: url("fonts/IndivisaTextSerif-Bold.otf");
  font-weight: 700;
}
@font-face {
  font-family: "IndivisaTextSerif";
  src: url("fonts/IndivisaTextSerif-BoldItalic.otf");
  font-weight: 700;
  font-style: italic;
}
@font-face {
  font-family: "IndivisaTextSerif-SC";
  src: url("fonts/IndivisaTextSerif-BoldSc.otf");
  font-variant: small-caps;
}
@font-face {
  font-family: "IndivisaTextSerif";
  src: url("fonts/IndivisaTextSerif-Light.otf");
  font-weight: 300;
}
@font-face {
  font-family: "IndivisaTextSerif";
  src: url("fonts/IndivisaTextSerif-LightItalic.otf");
  font-weight: 300;
  font-style: italic;
}
@font-face {
  font-family: "IndivisaTextSerif-SC";
  src: url("fonts/IndivisaTextSerif-LightSc.otf");
  font-variant: small-caps;
}
@font-face {
  font-family: "IndivisaTextSerif";
  src: url("fonts/IndivisaTextSerif-Regular.otf");
  font-weight: 500;
}
@font-face {
  font-family: "IndivisaTextSerif";
  src: url("fonts/IndivisaTextSerif-RegularItalic.otf");
  font-weight: 500;
  font-style: italic;
}
@font-face {
  font-family: "IndivisaTextSerif-SC";
  src: url("fonts/IndivisaTextSerif-RegularSc.otf");
  font-variant: small-caps;
}
/*General*/
html,
body {
  height: 100%;
  width: 100%;
  font-family: IndivisaTextSans, sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 18px;
}

/*Colores*/
:root {
    --azul: #3F54FF;
    --azulclaro: #2BC4ED;
    --verdegradiente: #D7F63F;
    --azulagua:#009696;
    --naranja:#F89527;
    --azulLasalle:#01215e;
}

a {
  -webkit-transition: all 0.35s;
  -moz-transition: all 0.35s;
  transition: all 0.35s;

}
a:hover,
a:focus {

  text-decoration: none;
}

a.linkCarta{
  color: #F89527;
}
a.linkCarta:hover,a.linkCarta:focus{
  color: #c36700;
}
/*Botones*/


/*Fin General*/
/*Menu*/
nav.navbar.navbar-light{
  background: #2bc4ed;
background: -moz-linear-gradient(-45deg, #2bc4ed 16%, #d7f63f 100%);
background: -webkit-linear-gradient(-45deg, #2bc4ed 16%,#d7f63f 100%);
background: linear-gradient(135deg, #2bc4ed 16%,#d7f63f 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2bc4ed', endColorstr='#d7f63f',GradientType=1 );
  text-transform: uppercase;
  font-weight: 700;
}
nav.navbar.navbar-light div.navbar-nav a.nav-item.nav-link{
  color: #fff;
}
nav.navbar.navbar-light div.navbar-nav a.nav-item.nav-link.active{
  text-decoration: underline;
}
nav.navbar.navbar-light div.navbar-nav a.nav-item.nav-link:hover{
  text-decoration: underline;
}
.navbar-light .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
  
}
.navbar-light  .navbar-toggler,.navbar-light  .navbar-toggler:focus{
  border-color: rgb(255,255,255);
}
/*Fin Menu*/
/*Header*/


/*Fin Header*/

/*Contenido*/
section#home{
  margin-top: 56px;
}
section#welcome{
  background-image: url('../images/home/IALULanding_Back_01.png');
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
section#welcome p.dear,section#program span.mayores,
section#program p.day,
section#alternatingProgram p.subtitle,
section#alternatingProgram p.title span.mayores, 
section#registrationForm p.title span.mayores
{
  color: var(--verdegradiente);
}
section#welcome p.dear,
section#registration p.title,
section#accomodation p.titulo,
section#applications p.titulo{
  font-family: IndivisaTextSans, sans-serif;
  font-weight: 700;
  font-style: italic;
}

section#welcome p.dear{
  font-size: 5em;
  line-height: 1em;
  letter-spacing: -4px;
  padding-top: 50px; 
}
section#welcome div.welcomeText{
  padding: 50px 50px 100px 50px;
  color: #fff;
  background: #0000007d;
  margin: 50px 40px;
}
section#welcome p.namePerson{
  line-height: 20px;
  color: var(--naranja);
  font-size: 25px;
}
section#welcome p.namePerson span.position{
  color: #fff;
  font-size: 20px;
}

/*Confronting challenges*/
section#globalChallenges,
section#program,
section#registration,
section#accomodation,
section#applications,
section#alternatingProgram,
section#registrationForm
{
  padding: 50px;
}
section#globalChallenges figure figcaption,
section#globalChallenges h1.globalTitle,
section#registrationForm p.title, 
section#registrationForm p.subtitle,section#registrationForm p.instructions,
section#accomodation p.groupCode,
section#accomodation ul.infoHotel,
section#applications p.infoReq,
section#accomodation p.subtitulo{
  color: var(--azulagua);
}


section#globalChallenges figure figcaption{
  text-transform: uppercase;
  font-weight: bold;
}
section#globalChallenges h1.globalTitle{
  font-size: 70px;
  line-height: 70px;
  margin-bottom: 0;
  
}
section#globalChallenges p.globalSubtitle,
section#program p.title,
p.orangeText,
section#alternatingProgram p.title,
section#registrationForm p.title span.guion,
section#registration p.title,
section#accomodation p.titulo,
section#applications p.titulo
{
  color: var(--naranja);
}
section#globalChallenges p.globalSubtitle,
section#globalChallenges figure figcaption,
section#program p.orangeText span,
section#registrationForm p.title,
section#registrationForm p.subtitle{
  font-family: IndivisaTextSans, sans-serif;
  font-weight: 900;
  font-style: italic;
}
section#globalChallenges p.globalSubtitle{
  font-size: 50px;
}
section#program{
  background-image: url('../images/home/IALULanding_Back02.png');
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: #fff;
}
section#program p.title,
section#program span.mayores,
section#alternatingProgram p.title{
  font-family: IndivisaTextSans, sans-serif;
  font-weight: 900;
}
section#program p.title,section#program span.mayores{
  font-size: 90px;
  margin:0;
}

section#program span.mayores,
section#alternatingProgram p.title span.mayores,
section#registrationForm p.title span.mayores{
  letter-spacing: -20px;
  margin-right: 50px;
}
section#alternatingProgram p.title span.mayores{
  margin-right: 20px;
}
section#program p.subtitle{
  font-size: 50px;
  margin-top: -60px;
}

section#program div.boxMonday{
  margin-top: 160px;
} 
section#program div.boxMonday p,section#program div.endContent p.orangeBG {
  margin-left: -20px;
} 
hr{
  margin: 1rem 0 1rem auto;
  width: 100%;
}   
section#program hr.orange {
    border-top: 2px solid #F89527;
}
section#alternatingProgram hr.green,
section#registration hr.green {
    border-top: 4px solid #D7F63F; 
}

p.orangeBG{
  background: var(--naranja);
  color: #fff;
  padding: 5px 10px;
}
section#program p.day,
section#registration p.title,
section#accomodation p.titulo,
section#applications p.titulo,
section#accomodation p.subtitulo,
section#alternatingProgram p.subtitle,
section#accomodation p.subtitulo
{
  font-family: IndivisaTextSans, sans-serif;
  font-weight: 700;
  font-style: italic;  
}
section#program p.day{
  font-size: 70px;
}

section#program p.date{
    margin-top: -30px;
    margin-left: 100px;
}
section#program div.content{
    font-size: 18px;
    font-weight
}
section#program div.endContent{
  margin-top: 30px;
}
section#program p.orangeText,
section#registration .instruccion,
section#registration div.feeInfo p.title,
section#registration div.moreInfo p.orangeText,
section#registration p.currency,
section#accomodation p.groupCode,
section#accomodation p.nombreHotel,
section#applications p.infoReq,
section#applications p.appTitle
{
  font-family: IndivisaTextSans, sans-serif;
  font-weight:700;
  font-style: normal;
}
section#program p.orangeText{
  font-size: 18px;
}

section#registration p.title,
section#accomodation p.titulo,
section#applications p.titulo{
  font-size: 90px;

}
section#registration div.bgAzul,
section#accomodation p.nombreHotel,
section#applications p.appTitle{
  background: var(--azulagua);
}
section#registration div.feeInfo p.title{
  font-size: 20px;
  color: #fff;
  text-shadow: none;
}
section#registration div.feeInfo{
  color: #fff;
  padding: 30px;
}

section#registration div.moreInfo{
  margin-top: 40px;
}

section#registration div.boxCurrency{
  margin-top: 30px;
}
section#registration ul.infoPay{
  margin-left: 20px;
  line-height:20px;
}

/*Accomodation*/
section#accomodation figure, 
section#accomodation p.direccion,
section#accomodation p.titulo{
  margin-bottom: 0;
}

section#accomodation p.nombreHotel,
section#applications p.appTitle{
  color:#fff;
  padding-left: 5px;
}

section#accomodation p.subtitulo{
  font-size: 40px;
  margin-top: -25px;
}
section#accomodation table.table tbody td,
section#accomodation table.table thead th{
  border-top: none;
}
section#accomodation table.table thead th{
  border-bottom: 2px solid #009696;
}
section#accomodation p.nombreHotel{
  font-size: 15px;
}
section#accomodation p.nombreHotel span{
  font-family: IndivisaTextSans, sans-serif;
  font-weight: 500;
  font-style: italic;
}
/*
section#accomodation a.linkCamino, section#accomodation p.groupCode{
  display: inline;
}
section#accomodation p.groupCode{
  margin-left: 80px;
}
*/
section#accomodation p.groupCode{
  margin-bottom: 0;
  margin-top:  50px;
}
/*Application*/
section#applications figure.photoExInfo{
  margin-top: 100px;
}

section#alternatingProgram{
  background-image: url('../images/home/IALULanding_Back04.png');
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: #fff;
}

section#alternatingProgram p.title{
  font-size: 90px;
  line-height: 80px;
}
section#alternatingProgram p.subtitle{
  font-size: 45px;
  line-height: 50px;
}
section#alternatingProgram div.duringBox{
    padding-right: 19%;
    padding-left: 2%;
}
section#alternatingProgram div.visitUniBox{
  margin-top: 50px;
  padding-left: 9%;
  margin-left: 27%;
}


section#registrationForm p.title{
  font-size: 70px;
  line-height: 70px;
}

section#registrationForm p.subtitle{
  font-size: 30px;
  line-height: 30px;
}
section#registrationForm p.instructions{
  font-size: 25px;
}
section#registrationForm .form-control{
  color: #01215e;
}
section#registrationForm input,
section#registrationForm select,
section#registrationForm button,
section#registrationForm select option{
  font-family: IndivisaTextSans, sans-serif;
  font-weight: 500;
  font-style: normal;
}
section#registrationForm input,
section#registrationForm select,
{
  height: 40px;
}
section#registrationForm figure img,
section#registrationForm .form-control {
    background: #E2E7ED;
}



section#registrationForm div.personalInfo,
section#registrationForm div.digitalInfo,
section#registrationForm div.contactInfo,
section#registrationForm div.extraInfo{
  margin-top: 50px;
}
section#registrationForm p.seccionForm{
  font-size: 28px;
}
section#registrationForm label.error.valid{
  display: none!important;
}

button.btn{
  border-radius: 0;
  padding: 10px 80px;
}
.btn-primary{
  background-color: var(--azulagua);
  border-color: var(--azulagua);
}
.select2-container .select2-selection--single
{
  height: 40px !important;
}

.select2-container--classic .select2-selection--single .select2-selection__arrow {
  height: 38px !important;
}

.select2-container--classic .select2-selection--single .select2-selection__rendered {
    color: #01215e !important;
    line-height: 40px !important;
    height: 38px !important;
    background: #E2E7ED;
}
/*Fin Contenido*/

/*Footer*/

footer {
  text-align: center;
}
footer a{
  color: #101d61;
  font-weight: bold;
}
footer a:hover{
  text-decoration: none;
  color: #c30824;

}
footer div ul {
    list-style-image: url('../images/footer/icon_redArrow.png');
}
footer div ul li {
    float: right;
    margin-left: 50px
}

footer div ul li a {
    display: block;
    text-align: center;
    padding: 16px 0px;
    text-decoration: none;
}

p.aviso, p.terminos{
  cursor: pointer;
  padding: 1% 0;
}
p.aviso:hover, p.terminos:hover{
  color: #c30824;
}
p.aviso.active,p.terminos.active{
  border-bottom: #c30824 solid 2px;
}
div.resumenAviso p, div.resumenTerminos p{
  text-align: left;
}

.bgGray{
  background: gray;
  padding-top: 1%;
}
div.redesSociales figure
{
  display: inline-block;
  padding: 2.2%;
}
div.redesSociales p
{
  color: #fff;
  text-align: left;
}
span.textoValor{
  font-size: 1.5em;
  color: gray;
  font-weight: 800;
}

ul.listaEscuelas a
{
  color:#fff;
  font-size: 0.8em;
}
footer div ul.listaEscuelas {
    list-style-image: url('../images/footer/icon_whiteArrow.png');
}
footer div ul.listaEscuelas li {
    margin-left: 25px
}

/*Fin Footer*/
/*Media Queries*/

/*Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 575.98px){
  section#home div.row.justify-content-end figure{
    text-align: right;
  }
  section#home div.row.justify-content-end figure img{
    width: 40%!important;
  }

  section#welcome {
    padding-bottom: 20px;
  }

  section#welcome p.dear{
    font-size: 2em;

  }
  section#welcome div.welcomeText {
    padding: 18px 10px 10px 10px;
    margin: 10px 0px;
    font-size: 16px;
  }
  section#welcome p.namePerson {
    font-size: 18px;
  }
  section#welcome p.namePerson span.position {
    font-size: 16px;
  }
  section#globalChallenges {
    padding: 10px;
  }
  section#globalChallenges h1.globalTitle {
    font-size: 40px;
    line-height: 40px;
  }
  section#globalChallenges p.globalSubtitle {
    font-size: 28px;
  }
  section#globalChallenges p.description {
    font-size: 16px;
  }
  section#registration div.feeInfo {
    padding: 20px;
  }


  section#program {
    padding: 10px;
  }
  section#program p.title, section#program span.mayores {
    font-size: 75px;
  }
  section#program p.subtitle {
    margin-top: -50px;
  }
  section#program div.boxMonday {
    margin-top: 0;
    font-size: 30px;
  }
  section#program div.content {
    font-size: 20px;
  }
  section#program div.endContent div.col-sm-6:nth-child(2){
    margin-top: 30px;
  }
  section#registration {
    padding: 10px;
  }
  section#registration p.title {
    font-size: 50px;s
  }
  section#registration figure img{
    float: none !important;
    width: 40%!important;
  }
  section#registration figure{
    text-align: center;
  }

  section#accomodation p.nombreHotel{
    font-size: 16px;
  }

  section#alternatingProgram {
    padding: 10px;
  }
  section#alternatingProgram p.title {
      font-size: 50px;
  }
  section#alternatingProgram p.subtitle {
    font-size: 40px;
  }
  section#alternatingProgram div.duringBox {
    padding-right: 0;
    padding-left: 2%;
  }
  section#alternatingProgram div.visitUniBox {
    margin-top: 50px;
    padding-left: 0;
    margin-left: 0;
  }

  section#registrationForm {
    padding: 10px;
  }

  section#registrationForm p.title {
    font-size: 50px;
  }

}

/*Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) and (max-width: 767.98px)  {
 html{
    font-size: 20px;
  }

}

/*Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) and (max-width: 991.98px) {

 html{
    font-size: 16px;
  }
}

/*Large devices (desktops, 992px and up)*/
@media (min-width: 992px) and (max-width: 1199.98px){ 

 html{
    font-size: 16px;
  }
}

/* Extra large devices (large desktops, 1200px and up*/
@media (min-width: 1200px) {

}